*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    display: flex;
    list-style: none;
    color: black;
    background: white;
    border: gray solid 1px;
    align-items: center;
    justify-content: space-around;
}

.ls-img{
    width: 100px;
}
.menus{
    display: flex;  
}
.item{
    cursor: pointer;
    margin-right: 8px;
    padding: 5px;
    font-size: 15px;
}
.item:hover{
    color: goldenrod;
}
.banner-container{
    height: 300px;
    border: 1px solid goldenrod;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('/background/coffee-bg.jpeg');
    /* background-repeat: no-repeat; */
    background-position: left;
}
.title-1{
    color: white;
    font-size: 90px;
    font-weight: bold;
}
.title-2{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.description{
    color: white;
    font-size: 18px;
}
.btn1{
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    color:white;
    background-color:black;
}
.btn2{
    margin: 5px;
    padding: 5px;
    border: 2px solid gold;
    color: white;
    background-color:gold;
}
.banner-text{
    margin-right: 900px;
    text-align: left;
}
.title-3{
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 40px;
    font-family: sans-serif;
}
.btn3{
    margin: 5pxpx;
    padding: 5px;
    color:white;
    background-color: goldenrod;
}
.offer-container{
    border: 1px solid gray;
    /* border-radius: 5px; */
    display: flex;
    padding: 20px;
    margin-top: 20px;
    background-color: grey;
    justify-content: space-around;
}
.box{
    text-align: center;
    padding: 1px;
    color: white;
    background-color: rgb(255, 204, 75);
    width: 280px;
    height: 310px;
    box-shadow: 4px 4px 15px goldenrod;
}
.varity{
    width: 280px;
}
.box-titel{
    font-size: 25px;
    padding: 5px;
    margin: 5px;
}
.box-paragrap{
    font-size: 18px;
    padding: 2px;
    margin: 2px;
}
.photo{
    width: 300px;
    margin-right: 100px;
    padding: 10px;
}
.about-container{
    background-color: white;
    display: flex;
    align-items:center ;
    justify-content: space-between;
}
.about-titel{
    margin-left: 250px;
    padding: 10px;
    font-weight: bold;
    color: rgb(137, 99, 4)
}
.about-para{
    margin-left: 250px;
    padding: 10px;
    font-weight: bold;
    color: rgb(137, 99, 4)

}
.btn4{
    font-weight: bold;
    margin-left: 270px;
    padding: 15px;
    color:black;
    background-color: goldenrod;
    border: 2px solid gold;
}
.logos{
    width: 200px
}
.mainfooter-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    background-color: rgb(154, 145, 145);
}
.coppy{
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    margin: 20px;
    padding: 30px;
    color: white;
    background-color: black;
}


